.user-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
  }
  
  .user-form h3 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .user-form input[type=text], 
  .user-form input[type=password],
  .user-form input[type=number],
  .user-form input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .user-form label {
    margin-right: 10px;
  }
  
  .user-form input[type=radio] {
    margin: 8px 0;
    display: inline-block;
  }
  
  .user-form input[type=submit], .user-form a {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 50%;
  }
  
  .user-form input[type=submit]:hover, .user-form a:hover {
    background-color: #45a049;
  }
  
  .user-form .error-msg {
    display: block;
    background-color: #f44336;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .user-form .error {
    display: block;
    color: #f44336;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  