/* Footer Styles */
footer {
    background-color: #b259ee;
    color: #474747;
    padding: 50px 0;
  }
  
  .subscribe {
    margin-bottom: 20px;
  }
  
  .subscribe h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .subscribe form {
    display: flex;
    flex-wrap: wrap;
  }
  
  .subscribe input[type="email"] {
    padding: 10px;
    border-radius: 4px;
    border: none;
    flex: 1;
    margin-right: 10px;
  }
  
  .subscribe button {
    background-color: #fff;
    color: #6E2479;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .subscribe button:hover {
    background-color: #ccc;
  }
  
  .follow h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .social-icons {
    display: flex;
    flex-wrap: wrap;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #474747;
  }
  
  .social-icons i {
    font-size: 24px;
  }
  
  .footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-menu li {
    margin-right: 20px;
  }
  
  .footer-menu li:last-child {
    margin-right: 0;
  }
  
  .footer-menu a {
    color: #474747;
    text-decoration: none;
  }
  
  .footer-menu a:hover {
    text-decoration:underline;
  }